<div style="padding:10px;">
    <label>Spieler:</label>
    <select id="p-select" style="width:100%; margin-bottom:10px;">
        {{#each players}}<option value="{{this.userId}}|{{this.actorId}}">{{this.name}}</option>{{/each}}
    </select>
    <label>NSC:</label>
    <select id="n-select" style="width:100%; margin-bottom:10px;">
        {{#each npcs}}<option value="{{this.id}}">{{this.name}}</option>{{/each}}
    </select>
    <button id="start-btn" style="width:100%;">Dialog senden</button>
</div>